---
import type { SiteConfig } from "@types";

type Props = Pick<SiteConfig, "author" | "socialLinks">;

const { author, socialLinks } = Astro.props;
const currentYear = new Date().getFullYear();
---

<footer
  class="w-full border-t border-neutral/20 px-5 pt-5 pb-8 text-center text-white"
>
  <ul class="mb-5 flex flex-wrap justify-center gap-x-5 text-xs">
    {
      socialLinks.map(({ text, icon, href }) => (
        <li>
          <a
            href={href}
            target="_blank"
            class="flex items-center gap-2 px-4 py-3 hover:text-primary"
          >
            <img src={icon} alt={text} class="h-5 w-5" />
            {text}
          </a>
        </li>
      ))
    }
  </ul>
  <p class="text-xs">
    © {currentYear} {author} - Flutter Developer.
  </p>
</footer>
